.main
  max-width: 1000px
  width: 100%
  display: flex
  flex: 1
  align-self: center
  flex-direction: column
  justify-content: space-between
  background: rgba(#FFF, 80%)

  .app--dark &
    background: rgba(#FFF, 70%)

