@import url('https://fonts.googleapis.com/css?family=Nunito:400,700')

// Normalize styles
@import "normalize.css/normalize.css"

// Import settings
@import '../../stylesheet/_settings.styl'

body
  font: normal normal  $base-font-size\/rem($base-line-height) $font-family-base
  background-color: $bg-color
  color: $base-text-color
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  font-smoothing: auto
  font-feature-settings: "liga", "kern"

.main
  margin: auto
  max-width: 1000px
