.info-bar
  background: lightness(#000, 90%)
  padding: 0 1rem
  line-height: .5

  &__participants
    display: inline
    float: left
    color: lightness(#000, 40%)

  &__status
    display: inline
    float: right
    font-weight: bold

    &--on
      color: green

    &--off
      color: red

.typing
  padding: 0 1rem
  line-height: .5
  color: lightness(#000, 30%)
