@import '../../../../stylesheet/_settings.styl'

.tabs
  text-align: center

  &__list
    margin: 0
    padding: 0
    list-style: none
    display: flex
    flex-flow: row wrap
    justify-content: space-around

  &__item
    width: 50%

  &__link
    display: inline-block
    width: 100%
