@import '../../../../stylesheet/_settings.styl'

.messages
  &-box
    &__list
      list-style: none
      padding: 0
      margin: 0

.message
  background: $primary-color
  padding: .4rem 1rem
  display: inline-block

  &--mine
    text-align: right

