@import '../../../../stylesheet/_settings.styl'

.messages
  &-box
    overflow: scroll
    padding: .5rem 1rem

    &__list
      list-style: none
      padding: 0
      margin: 0
      min-height: 200px

.message
  background: saturation($primary-color, 60%)
  color: #FFF
  padding: .4rem 1rem
  display: inline-block
  word-break: break-all

  &--mine
    text-align: right

    .message
      background: lightness($primary-color, 70%)

      .app--dark &
        background: saturation($primary-color-dark, 60%)

  .app--dark &
    background: lightness($primary-color-dark, 20%)
