@import url('https://fonts.googleapis.com/css?family=Lato');

// Normalize styles
@import "normalize.css/normalize.css"

// Import settings
@import './stylesheet/_settings.styl'

body
  font: normal normal  $base-font-size\/rem($base-line-height) $font-family-base
  color: $base-text-color
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  font-smoothing: auto
  font-feature-settings: "liga", "kern"

.app
  &--light
    background-color: $bg-color

  &--dark
    background-color: $bg-color-dark

