@import '../../../../stylesheet/_settings.styl'

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.header
  text-align: center
  background: $primary-color
  overflow: hidden

  .app--dark &
    background: $primary-color-dark

  &__title
    animation: App-logo-spin infinite 20s linear
    height: rem(80px)

  &__subtitle
    font-size: rem(20px)
    color: #FFF
    margin-bottom: 2rem

